/* Common */
:root {
    --clr-bg-dark: #111111;
    --clr-line-brown: rgb(161, 158, 158);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

body {
    font-family: 'Spartan', sans-serif;
}

.tabs .hidden,
.form-section .hidden,
.form-section  {
    display: none;
}

.absolute-center {
    margin: 0 auto 0 auto;
    position: absolute;
}

.logo-svg {
    position: absolute;
    top: 0px;
}

.h1-heading {
    position: absolute;
    left: 0%;
    right: 0%;

    font-family: 'Spartan';
    font-style: normal;
    font-weight: 300;
    text-align: center;
    color: #FFFFFF;
}

.body-text {
    position: absolute;
    font-family: 'Spartan';
    font-style: normal;
    font-weight: 400;
    text-align: center;
    color: #FFFFFF;
}

.button {
    position: absolute;
    border-radius: 0.25rem;
    bottom: 0%;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    background-color: transparent;
    color: white;
}

.button:hover {
    color: var(--clr-bg-dark);
    background-color: white;
    transition-delay: .3s;
        border-color: var(--clr-bg-dark);
    border-style: solid;
    border-width: 1px;
}

.section {
    width: 100%;
}

.divider {
    display: block;
}

.subsection-text-wrapper {
    color: #242B37;
    text-align: center;
    font-family: 'Spartan';
    font-style: normal;
}

.subsection-title {
    font-weight: 700;
}

.subsection-par {
    font-weight: 400;
}

.section-highlights {
    background: #111111;
    color: #FFFFFF;
}

.section-highlights .subsection-text-wrapper {
    color: #FFFFFF;
}

.menu-selection-text-wrapper .subsection-title,
.menu-selection-text-wrapper .subsection-par {
    height: auto;
    margin: auto;
}

.menu-selection-text-wrapper .subsection-title {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.225px;
}

.menu-selection-text-wrapper .subsection-par {
    font-size: 15px;
    line-height: 28px;
    letter-spacing: -0.1875px;
}

.tabs {
    position: absolute;
    width: 100%;
}

.tab-img-wrapper {
    margin: 120px auto 56px auto;
    display: flex;
}

.tab-img {
    background: #EDEDED;
    box-shadow: 0px 75px 100px -50px rgba(56, 66, 85, 0.503223);
    margin: 0 auto;
}

.tab-wrapper {
    margin: 0 auto;
}

.tab-button {
    border: none;
    background-color: transparent;
    font-size: 14px;
    letter-spacing: 2px;
    margin: 8px 10px;
    opacity: 50%;
    color: #4C4C4C;
    width: 223px;
}

.tab-button::after {
    content: "";
    display: block;
    width: 0;
    border-bottom: 1px solid var(--clr-line-brown);
    margin: 0 auto;
    transition: all 0.3s linear 0s;
    margin-top: 5px;
}

.tab-button:hover {
    opacity: 100%;
    font-weight: 600;
    transition-timing-function: ease;
    transition: 1s;
}

.tab-button:hover::after {
    width: 60%;
}

.event-tab {
    text-align: center;
    font-family: 'Spartan';
    font-style: normal;
    color: #242B37;
}

.event-title {
    font-weight: 700;
}

.event-paragraph {
    font-weight: 400;
    margin-bottom: 0;
}

.button-booking {
    background-color: #111111;
    color: #FFFFFF;
    top: auto !important;
    height: 64px;
}

.booking {
    position: absolute;
    width: 100%;
    text-align: center;
}

.booking .subsection-title {
    color: white;
    font-weight: 700;
    height: auto;
}

.main-footer {
    background-color: var(--clr-bg-dark);
    color: white;
    width: 100%;
    position: absolute;
}

.main-mobile {
    overflow: hidden;
}

.logo-wrapper .logo-svg {
    position: inherit;
    top: auto;
}

.main-footer p {
    font-weight: 300;
    text-transform: uppercase;
    font-size: 14px;
    margin: 8px;
    letter-spacing: 2px;
}

.main-footer div div:last-child {
    margin-top: 30px; 
}

/* Mobile */
@media only screen and (max-width: 767px) {
    .hidden-mobile {
        display: none;
    }

    .header-wrapper {
        width: 327px;
        height: 364px;
        top: 232px;
    }

    .logo-svg {
        width: 82.4px;
        height: 32px;
        left: 122px;
    }

    .h1-heading {
        height: 80px;
        top: calc(50% - 80px/2 - 78px);

        font-size: 32px;
        line-height: 40px;
        letter-spacing: -0.4px;
    }

    .body-text {
        height: 100px;
        left: 0%;
        right: 0%;
        top: calc(50% - 100px/2 + 36px);

        font-size: 15px;
        line-height: 25px;

        letter-spacing: -0.1875px;
    }

    .button {
        left: 12.54%;
        right: 12.54%;
        top: 82.42%;
    }

    .section {
        top: 676px;
    }

    .subsection {
        width: 327px;
        margin: 0 auto 80px auto;
    }

    .divider {
        margin: 48px auto 32px auto;
    }

    .subsection-text-wrapper {
        margin: 0 5px;
    }

    .subsection-title {
        height: 80px;
        margin-bottom: 16px;
        font-size: 32px;
        line-height: 40px;
        letter-spacing: -0.4px;
    }

    .subsection-par {
        height: 100px;
        font-size: 15px;
        line-height: 25px;
        letter-spacing: -0.1875px;
    }

    .section-highlights {
        top: 2202px;
        width: 100%;
    }

    .section-highlights .divider {
        margin-top: 72px;
    }

    .section-highlights .subsection-text-wrapper {
        margin: 0 auto 64px auto;
        width: 327px;
    }

    .menu-selection-container {
        margin: 0 auto;
        width: 327px;
    }

    .menu-selection-text-wrapper {
        margin-top: 32px;
        margin-bottom: 48px;
    }

    .menu-selection-text-wrapper .subsection-title,
    .menu-selection-text-wrapper .subsection-par {
        text-align: center;
    }

    .menu-selection-text-wrapper .subsection-par {
        padding: 0 20px;
    }

    .tabs {
        top: 3882px;
    }

    .tab-img {
        width: 326px;
        height: 400px;
    }

    #gathering-pic {
        background: url("./images/homepage/family-gathering-mobile.jpg");
    }

    #events-pic {
        background: url("./images/homepage/special-events-mobile.jpg");
    }

    #social-pic {
        background: url("./images/homepage/social-events-mobile.jpg");
    }

    .tab-wrapper {
        width: 239px;
    }

    .tab-button {
        font-weight: 600;
        line-height: 28px;
    }

    .event-tab {
        width: 327px;
        height: 156px;
        margin: 24px auto 0 auto;
    }

    .event-title {
        font-size: 32px;
        line-height: 40px;
        letter-spacing: -0.4px;
    }

    .event-paragraph {
        font-size: 15px;
        line-height: 25px;
        letter-spacing: -0.1875px;
    }

    .button-booking {
        width: 245px;
        margin: 24px auto 0 auto;
        bottom: auto;
    }

    .booking {
        top: 5004px;
        background-image: url(./images/homepage/ready-bg-mobile.jpg);
        height: 328px;
        padding-top: 80px;
        background-size: cover;
    }
    
    .booking .subsection-title {
        width: 327px;
        font-size: 32px;
        line-height: 40px;
        letter-spacing: -0.4px;
        margin: 0 auto 24px auto;
    }

    .main-footer {
        top: 5332px;
        padding: 80px 24px;
        justify-content: center;
        display: block;
        text-align: center;
    }
    
    .logo-wrapper {
        width: 100%;
        margin-bottom: 40px;
    }
}

/* Tablet */
@media only screen and (min-width: 768px) and (max-width: 1439px) {
    .hidden-tablet {
        display: none;
    }

    .main-header {
        height: 992px;
    }

    .header-wrapper {
        width: 689px;
        height: 402px;
        top: 374px;
    }

    .logo-svg {
        width: 103px;
        height: 40px;
        left: 288px; 
    }

    .h1-heading {
        height: 128px;
        top: calc(50% - 128px/2 - 65px);

        font-size: 48px;
        line-height: 64px;
        letter-spacing: -0.6px;
    }

    .body-text {
        height: 90px;
        left: 8.42%;
        right: 8.42%;
        top: calc(50% - 90px/2 + 68px);

        font-size: 18px;
        line-height: 30px;
      
        letter-spacing: -0.225px;
    }

    .button {
        left: 32.22%;
        right: 32.22%;
        top: 84.08%;
    }

    .section {
        top: 896px;
    }

    .subsection {
        width: 573px;
        margin: 0 auto 120px auto;
    }

    .divider {
        margin: 56px auto 32px auto;
    }

    .subsection-text-wrapper {
        margin: 0 60px;
    }

    .subsection-title {
        height: 112px;
        margin: 0 30px 16px 30px;
        font-size: 40px;
        line-height: 56px;
        letter-spacing: -0.5px;
    } 

    .subsection-par {
        height: 90px;
        font-size: 18px;
        line-height: 30px;
        letter-spacing: -0.225px;
    }

    .section-highlights {
        top: 2482px;
    }

    .section-highlights .divider {
        margin-top: 96px;
    }

    .section-highlights .subsection-text-wrapper {
        margin: 0 161px;
    }

    .menu-selection-container {
        margin: 56px auto 96px auto;
        width: 573px;
    }

    .menu-selection {
        width: 100%;
        height: 96px;
        margin: 12px 0;
    }

    .menu-selection-container .menu-selection:first-child {
        margin-bottom: 24px;
        margin-top: 0;
    }

    .menu-selection-container .menu-selection:last-child {
        margin-top: 24px;
        margin-bottom: 0;
    }

    .menu-selection img {
        vertical-align: top;
    }

    .menu-selection-text-wrapper {
        width: 383px;
        display: inline-block;
        padding-left: 60px;
        height: 88px;
        padding-top: 8px;
    }

    .tabs {
        top: 3323px;
    }

    .tab-img {
        width: 573px;
        height: 360px;
    }

    #gathering-pic {
        background: url("./images/homepage/family-gathering-tablet.jpg");
    }

    #events-pic {
        background: url("./images/homepage/special-events-tablet.jpg");
    }

    #social-pic {
        background: url("./images/homepage/social-events-tablet.jpg");
    }

    .tab-wrapper {
        width: fit-content;
        display: flex;
    }

    .tab-button {
        display: inline-block;
        font-weight: 500;
        line-height: 16px;
    }

    .event-tab {
        width: 457px;
        height: 288px;
        margin: 40px auto 0 auto;
    }

    .event-title {
        font-size: 40px;
        line-height: 56px;
        letter-spacing: -0.5px;
    }

    .event-paragraph {
        font-size: 18px;
        line-height: 30px;
        letter-spacing: -0.225px;
    }

    .booking {
        top: 4340px;
        background-image: url(./images/homepage/ready-bg-tablet.jpg);
        height: 272px;
        padding-top: 65px;
    }
    
    .booking .subsection-title {
        font-size: 40px;
        line-height: 56px;
        letter-spacing: -0.5px;
        margin-bottom: 23px;
    }

    .main-footer {
        top: 4612px;
        padding: 64px 39px;
        justify-content: normal;
    }
    
    .logo-wrapper {
        width: 208px;
    }
}

/* Desktop */
@media only screen and (min-width: 1440px) {
    .hidden-desktop {
        display: none;
    }

    .main-header {
        height: 820px;
        align-items: baseline;
        padding: 65px 167px;
    }

    .main-header .desktop-img {
        position: absolute;
        top: 0;
        right: 0;
    }

    .main-header .h1-heading {
        top: 258px;
        font-weight: 300;
        font-size: 64px;
        line-height: 72px;
        letter-spacing: -0.8px;
        width: 524px;
        text-align: initial;
    }

    .main-header .body-text {
        top: 426px;
        width: 445px;
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
        letter-spacing: -0.225px;
        text-align: initial;
    }

    .main-header .button {
        bottom: auto;
        top: 558px;
        width: 245px;
        height: 64px;
    }

    .subsection {
        padding: 0 165px;
    }

    .section .subsection:first-child .desktop-img {
        margin-top: -70px;
    }

    .subsection .divider {
        position: absolute;
    }

    .section .subsection:first-child .divider {
        left: 830px;
        top: 177px;
    }

    .section .subsection:first-child .subsection-text-wrapper {
        position: absolute;
        top: 225px;
        left: 830px;
    }

    .section .subsection:first-child .subsection-text-wrapper .subsection-title {
        padding-right: 40px;
    }

    .subsection-text-wrapper {
        width: 445px;
        text-align: initial;
    }

    .subsection-title {
        font-weight: 700;
        font-size: 40px;
        line-height: 56px;
        letter-spacing: -0.5px;
    }

    .subsection-par {
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
        letter-spacing: -0.225px;
    }

    .section .subsection:last-child .desktop-img {
        margin-top: 120px;
        position: absolute;
        right: 165px;
        z-index: 2;
    }

    .section .subsection:last-child .divider {
        left: 165px;
        top: 971px;
    }

    .section .subsection:last-child .subsection-text-wrapper {
        position: absolute;
        top: 1029px;
        left: 165px;
    }

    .section-highlights {
        width: 100%;
        position: absolute;
        top: 2231px;
        padding: 200px 165px 120px 165px;
        height: 710px;
    }

    .section-highlights .divider {
        padding-bottom: 48px;
    }

    .section-highlights .subsection-text-wrapper .subsection-title {
        font-weight: 700;
        font-size: 40px;
        line-height: 56px;
        letter-spacing: -0.5px;
    }

    .section-highlights .subsection-text-wrapper .subsection-par {
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
        letter-spacing: -0.225px;
    }

    .menu-selection-container {
        position: absolute;
        right: 165px;
        top: 200px;
        width: 540px;
    }

    .menu-selection {
        padding: 20px 0;
    }

    .menu-selection-text-wrapper {
        width: 350px;
        display: inline-block;
    }

    .menu-selection img {
        margin-top: -50px;
        padding-right: 50px;
    }

    .tabs {
        position: absolute;
        top: 2940px;
        width: 100%;
    }

    .tab-img-wrapper {
        margin: 160px 125px 160px 165px;
        width: fit-content;
    }

    .tab-img {
        width: 540px;
        height: 600px;
    }

    #gathering-pic {
        background: url("./images/homepage/family-gathering-desktop.jpg");
    }

    #events-pic {
        background: url("./images/homepage/special-events-desktop.jpg");
    }

    #social-pic {
        background: url("./images/homepage/social-events-desktop.jpg");
    }

    .event-tab {
        position: absolute;
        width: 570px;
        top: 223px;
        right: 165px;
        text-align: initial;
        padding-left: 125px;
    }

    .event-title {
        font-weight: 700;
        font-size: 40px;
        line-height: 56px;
        letter-spacing: -0.5px;
    }

    .event-paragraph {
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
        letter-spacing: -0.225px;
    }

    .button-booking {
        position: absolute;
        height: 64px;
        width: 245px;
        right: 365px;
        border: 1px solid #111111;
        background-color: --clr-bg-dark;
        color: white;
        top: 447px !important;
    }

    .tab-wrapper {
        position: absolute;
        width: 188px;
        right: 422px;
        top: 550px;
        text-align: initial;
    }

    .tab-button {
        text-align: initial;
        margin: 10px 0;
    }

    .booking {
        top: 3860px;
        background-image: url(./images/homepage/ready-bg-desktop.jpg);
        height: 240px;
        text-align: initial;
        padding: 92px 165px;
    }

    .booking .subsection-title {
        font-weight: 700;
        font-size: 40px;
        line-height: 56px;
        letter-spacing: -0.5px;
        display: inline;
        width: 639px;
    }

    .booking .btn {
        position: absolute;
        right: 165px;
        width: 245px;
        height: 64px;
        background-color: --clr-bg-dark;
        color: white;
        top: 88px;
        padding: 0;
    }

    .main-footer {
        position: absolute;
        top: 4100px;
        width: 100%;
        justify-content: initial;
        padding: 78px 165px;
    }

    .logo-wrapper {
        padding-top: 10px;
        padding-right: 193px;
    }

    .main-footer div {
        display: flex;
    }

    .main-footer div div {
        display: inline;
    }

    .main-footer div div:last-child {
        margin-top: 0;
        padding-left: 124px;
    }
}

.logo {
    font-weight: 700;
    font-size: 35px;
} 

.btn {
    background-color: transparent;
    position: relative;
    color: white;
    font-size: 16px;
    font-weight: 500;
    padding: 20px 50px;
    border-width: 1px;
    border-color: white;
    letter-spacing: 2px;
}

.btn:hover {
    color: var(--clr-bg-dark);
    background-color: white;
    transition-delay: .3s;
}

/* header */

header {
    height: 100vh;
    background-color: var(--clr-bg-dark);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
    position: relative;
}

/* footer */

footer {
    background-color: var(--clr-bg-dark);
    color: white;
    text-align: center;
    padding: 60px 0px 60px 0;
    width: 100%;
}

footer h2 {
    margin-bottom: 20px;
}

footer p {
    font-weight: 300;
    text-transform: uppercase;
    font-size: 14px;
    margin: 8px;
    letter-spacing: 2px;
}

footer div:last-child {
    margin-top: 30px; 
}

/* ***** booking page ***** */

/* booking header */

.booking-header {
    background-image: url(./images/booking/hero-bg-mobile.jpg);
    background-size: cover;
    height: auto;
    position: relative;
    z-index: 1;
}
.booking-header .h1-heading {
    position: static;
    height: auto;
    margin-bottom: 15px;
}

.booking-header a {
    text-decoration: none;
    color: inherit;
}

.booking-header .logo {
    margin: 70px auto 50px auto;
}


.booking-header h1 {
    margin-top: 0px;
}

.booking-header .body-text {
    padding: 0 20px;
    position: static;
    margin-bottom: 30px;
}

.booking-header .btn {
    margin-bottom: 150px;
}

.btn-active {
    background-color: white;
    color: var(--clr-bg-dark);
}

.form-section {
    background-color: white;
    justify-content: center;
    
}

.form-section form {
    position: relative;
    z-index: 3;
    bottom: 75px;
    background-color: white;
    width: 85vw;
    padding: 25px;
    box-shadow: 0px 40px 40px -20px rgb(161, 158, 158);
}

form .btn {
    background-color: black;
    padding: 20px 20px;
    width: 100%;
    margin-top: 8px;
}

form .btn:hover {
    border-color: var(--clr-bg-dark);
}

form .btn:focus {
    background-color:var(--clr-bg-dark);
    color: white;
    box-shadow: none;
    border-color: var(--clr-bg-dark);
}

form .btn:active {
    background-color: inherit;
    color: inherit;
    border-color: none;
    outline: black;
}

.people-selector {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.people-selector img {
    height: min-content;
    cursor: pointer;
    padding: 5px 10px;
}

#person-input {
    font-weight: bold;
}

form .form-control {
    border: transparent;
    border-bottom: 1px solid #ced4da;
    border-radius: 0;
    padding: 15px;
}

form .input-group {
    gap: 5px;
    align-items: center;
}

form .form-control:last-child {
    padding: 15px 20px;
    margin-top: 10px;
}

form .row {
    --bs-gutter-x: 0;
}

.row .form-control {
    padding-top: 10px;
}

.input-group label {
    margin-right: 50px;
}


.reservations .form-section .lines {
    display: none;
}
/* 
.popup-wrap {
    width:100%;
    min-height:150%;
    display:none;
    position:absolute;
    top:0px;
    left:0px;
    content:'';
    background:rgba(0,0,0,0.85);
    z-index: 4;
  }
  
.popup-box {
    width:400px;
    padding: 40px;
    transform:translate(-50%, -50%) scale(0.5);
    position:absolute;
    top:35%;
    left:50%;
    box-shadow:0px 2px 16px rgba(0,0,0,0.5);
    border-radius:3px;
    background:#fff;
    text-align:center;
    z-index: 4;
}

.popup-box h2 {
      color:#1a1a1a;
      margin-bottom: 15px;
}

.popup-box h3 {
      color:rgb(99, 96, 96);
}

.popup-box .close-btn {
    width:35px;
    height:35px;
    display:inline-block;
    position:absolute;
    top:10px;
    right:10px;
    -webkit-transition:all ease 0.5s;
    transition:all ease 0.5s;
    border-radius:1000px;
    background:#d75f70;
    font-weight:bold;
    text-decoration:none;
    color:#fff;
    line-height:200%;
    text-align: center;
}
    
.popup-box .close-btn:hover {
      -webkit-transform:rotate(180deg);
      transform:rotate(180deg);
}

    
    
.transform-in, .transform-out {
    display:block;
    -webkit-transition:all ease 0.5s;
    transition:all ease 0.5s;
}
  
.transform-in {
      -webkit-transform:translate(-50%, -50%) scale(1);
      transform:translate(-50%, -50%) scale(1);
  }
  
.transform-out {
      -webkit-transform:translate(-50%, -50%) scale(0.5);
      transform:translate(-50%, -50%) scale(0.5);
  } */

/* booking - tablet */

@media only screen and (min-width: 480px) {
    .booking-header {
        background-image: url(./images/booking/hero-bg-tablet@2x.jpg);
    }

    .booking-header a {
        align-self: flex-start;
    }

    .booking-header .logo {
        margin: 70px;
        font-size: 40px;
    }

    .booking-header .body-text {
        width: 80%;
    }

    .form-section form {
        width: 75%;
        padding: 40px;
 }

    form .input-group {
        gap: 15px;
}

    .row .form-control {
    padding-top: 15px;
}

    #validationCustom01 {
    padding-top: 0;
}

    footer {
        display: flex;
        padding: 70px 35px;
        align-items: space-around;
        justify-content: center;
        text-align: justify;
    }

    footer .logo {
        margin-right: 15%;
    }
    
    footer div:last-child {
        margin-top: 0;
    }

    footer .last-child {
        margin-top: 30px !important;
    }
}

/* booking - desktop */

@media only screen and (min-width: 1025px) {
    .booking-header {
        background-image: url(./images/booking/hero-bg-desktop@2x.jpg);
        align-items: flex-start;
        padding: 80px;
        padding-top: 30px;
    }

    .booking-header .logo {
        margin: 0;
        margin-top: 30px;
        margin-bottom: 100px;
    }
    
    .booking-header .btn {
        display: none;
    }
    .booking-header .body-text {
        width: 45%;
        text-align: justify;
        padding: 0;
        font-weight: 300;
    }

    .form-section {
        height: 40vh;
        display: block;
    }
    
    .form-section form {
        width: 40%;
        left: 200px;
        bottom: 200px;
    }
    .reservations .form-section {
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url(./images/patterns/pattern-curve-bottom-right.svg);
        background-repeat: no-repeat;
    }

    .reservations .form-section .lines {
        display: block;
        height: min-content;
        position: relative;
        left: 250px;
        top: 55px;
    }

    .footer-container {
        display: flex;
        align-items: flex-start;
        gap: 150px;
    }

    footer .last-child {
        margin-top: 0 !important;
    }
}
