/* Common */
:root {
    --clr-bg-dark: #111111;
    --clr-line-brown: rgb(161, 158, 158);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

body {
    font-family: 'Spartan', sans-serif;
}

.tabs .hidden,
.form-section  {
    display: none;
}

.absolute-center {
    margin: 0 auto 0 auto;
    position: absolute;
}

.logo-svg {
    position: absolute;
    top: 0px;
}

.h1-heading {
    position: absolute;
    left: 0%;
    right: 0%;

    font-family: 'Spartan';
    font-style: normal;
    font-weight: 300;
    text-align: center;
    color: #FFFFFF;
}

.body-text {
    position: absolute;
    font-family: 'Spartan';
    font-style: normal;
    font-weight: 400;
    text-align: center;
    color: #FFFFFF;
}

.button {
    position: absolute;

    bottom: 0%;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    background-color: transparent;
    color: white;
}

.button:hover {
    color: var(--clr-bg-dark);
    background-color: white;
    transition-delay: .3s;
}

.section {
    width: 100%;
}

.divider {
    display: block;
}

.subsection-text-wrapper {
    color: #242B37;
    text-align: center;
    font-family: 'Spartan';
    font-style: normal;
}

.subsection-title {
    font-weight: 700;
}

.subsection-par {
    font-weight: 400;
}

.section-highlights {
    background: #111111;
    color: #FFFFFF;
}

.section-highlights .subsection-text-wrapper {
    color: #FFFFFF;
}

.menu-selection-text-wrapper .subsection-title,
.menu-selection-text-wrapper .subsection-par {
    height: auto;
    margin: auto;
}

.menu-selection-text-wrapper .subsection-title {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.225px;
}

.menu-selection-text-wrapper .subsection-par {
    font-size: 15px;
    line-height: 28px;
    letter-spacing: -0.1875px;
}

/* Mobile */
@media only screen and (max-width: 767px) {
    .hidden-mobile {
        display: none;
    }

    .header-wrapper {
        width: 327px;
        height: 364px;
        top: 232px;
    }

    .logo-svg {
        width: 82.4px;
        height: 32px;
        left: 122px;
    }

    .h1-heading {
        height: 80px;
        top: calc(50% - 80px/2 - 78px);

        font-size: 32px;
        line-height: 40px;
        letter-spacing: -0.4px;
    }

    .body-text {
        height: 100px;
        left: 0%;
        right: 0%;
        top: calc(50% - 100px/2 + 36px);

        font-size: 15px;
        line-height: 25px;

        letter-spacing: -0.1875px;
    }

    .button {
        left: 12.54%;
        right: 12.54%;
        top: 82.42%;
    }

    .section {
        top: 676px;
    }

    .subsection {
        width: 327px;
        margin: 0 auto 80px auto;
    }

    .divider {
        margin: 48px auto 32px auto;
    }

    .subsection-text-wrapper {
        margin: 0 5px;
    }

    .subsection-title {
        height: 80px;
        margin-bottom: 16px;
        font-size: 32px;
        line-height: 40px;
        letter-spacing: -0.4px;
    }

    .subsection-par {
        height: 100px;
        font-size: 15px;
        line-height: 25px;
        letter-spacing: -0.1875px;
    }

    .section-highlights {
        top: 2202px;
        width: 100%;
    }

    .section-highlights .divider {
        margin-top: 72px;
    }

    .section-highlights .subsection-text-wrapper {
        margin: 0 auto 64px auto;
        width: 327px;
    }

    .menu-selection-container {
        margin: 0 auto;
        width: 327px;
    }

    .menu-selection-text-wrapper {
        margin-top: 32px;
        margin-bottom: 48px;
    }

    .menu-selection-text-wrapper .subsection-title,
    .menu-selection-text-wrapper .subsection-par {
        text-align: center;
    }

    .menu-selection-text-wrapper .subsection-par {
        padding: 0 20px;
    }
}

/* Tablet */
@media only screen and (min-width: 768px) {
    .hidden-tablet {
        display: none;
    }

    .header-wrapper {
        width: 689px;
        height: 402px;
        top: 374px;
    }

    .logo-svg {
        width: 103px;
        height: 40px;
        left: 288px; 
    }

    .h1-heading {
        height: 128px;
        top: calc(50% - 128px/2 - 65px);

        font-size: 48px;
        line-height: 64px;
        letter-spacing: -0.6px;
    }

    .body-text {
        height: 90px;
        left: 8.42%;
        right: 8.42%;
        top: calc(50% - 90px/2 + 68px);

        font-size: 18px;
        line-height: 30px;
      
        letter-spacing: -0.225px;
    }

    .button {
        left: 32.22%;
        right: 32.22%;
        top: 84.08%;
    }

    .section {
        top: 896px;
    }

    .subsection {
        width: 573px;
        margin: 0 auto 120px auto;
    }

    .divider {
        margin: 56px auto 32px auto;
    }

    .subsection-text-wrapper {
        margin: 0 60px;
    }

    .subsection-title {
        height: 112px;
        margin: 0 30px 16px 30px;
        font-size: 40px;
        line-height: 56px;
        letter-spacing: -0.5px;
    } 

    .subsection-par {
        height: 90px;
        font-size: 18px;
        line-height: 30px;
        letter-spacing: -0.225px;
    }

    .section-highlights {
        top: 2482px;
    }

    .section-highlights .divider {
        margin-top: 96px;
    }

    .section-highlights .subsection-text-wrapper {
        margin: 0 161px;
    }

    .menu-selection-container {
        margin: 56px auto 96px auto;
        width: 573px;
    }

    .menu-selection {
        width: 100%;
        height: 96px;
        margin: 12px 0;
    }

    .menu-selection-container .menu-selection:first-child {
        margin-bottom: 24px;
        margin-top: 0;
    }

    .menu-selection-container .menu-selection:last-child {
        margin-top: 24px;
        margin-bottom: 0;
    }

    .menu-selection img {
        vertical-align: top;
    }

    .menu-selection-text-wrapper {
        width: 383px;
        display: inline-block;
        padding-left: 60px;
        height: 88px;
        padding-top: 8px;
    }

    .tabs {
        position: absolute;
        width: 100%;
        top: 3323px;
    }

    .tab-img {
        background: #EDEDED;
        box-shadow: 0px 75px 100px -50px rgba(56, 66, 85, 0.503223);
        margin: 0 auto;
    }

    .tab-img-wrapper {
        margin: 120px auto 56px auto;
        display: flex;
    }

    .tab-wrapper {
        /* width: 100%; */
        margin: 0 auto;
    }

    .tab-button {
        display: inline-block;
        border: none;
        background-color: transparent;
        font-size: 14px;
        font-weight: 500;
        line-height: 16px;
        letter-spacing: 2px;
        margin: 8px;
        opacity: 50%;
    }

    .tab-button::after {
        content: "";
        display: block;
        width: 0;
        border-bottom: 1px solid var(--clr-line-brown);
        margin: 0 auto;
        transition:all 0.3s linear 0s;
        margin-top: 5px;
    }

    .tab-button:hover {
        opacity: 100%;
        font-weight: 600;
        transition-timing-function: ease;
        transition: 1s;
    }

    .tab-button:hover::after {
        width: 60%;
    }
}

/* Desktop */
@media only screen and (min-width: 1440px) {
    .hidden-desktop {
        display: none;
    }
}

.logo {
    font-weight: 700;
    font-size: 35px;
} 

.btn {
    background-color: transparent;
    position: relative;
    color: white;
    font-size: 16px;
    font-weight: 500;
    padding: 20px 50px;
    border-width: 1px;
    border-color: white;
    letter-spacing: 2px;
}

.btn:hover {
    color: var(--clr-bg-dark);
    background-color: white;
    transition-delay: .3s;
}

/* header */

header {
    height: 100vh;
    background-color: var(--clr-bg-dark);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
    position: relative;
}

/* .h1-heading {
    font-weight: 200;
    font-size: 35px;
    line-height: 40px;
    margin: 20px;
} */

/* .body-text {
    font-weight: 300;
    font-size: 17px;
    padding: 0 20px;
    margin-bottom: 30px;
} */

/* enjoyable place for all the family */

/* .subsection {
    display: flex;
    width: 100%;
    z-index: 1;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-bottom: 90px;
} */

.image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 50%;
}

.image-container img {
    position: relative;
    z-index: 2;
    bottom: 70px;
    box-shadow: 0px 40px 40px -10px rgb(161, 158, 158);
}

/* .image-container::after {
    content: url(./images/patterns/pattern-divide.svg);
    margin-top: -30px;
} */

/* .subsection .logo {
    margin: 30px 40px;
    font-size: 32px;
}

.subsection p {
    color: #242B37;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    margin: 0 20px;
} */

.image-container.second-container img{
    position: static;
}

/* .image-container.second-container::after,
.highlights .logo::before {
    margin-top: 35px;
} */

/* menu higlights */

/* .highlights {
    background-color: var(--clr-bg-dark);
    display: flex;
    flex-direction: column;
} */

/* .highlights .logo {
    color: white;
    line-height: 40px;
    font-weight: 600;
} */

/* .highlights .subsection::before {
    content: url(./images/patterns/pattern-divide.svg);
    margin-top: 70px;
}

.highlights .subsection {
    margin-bottom: 30px;
}
.highlights .subsection p {
    color: white;
    font-weight: 300;
} */

/* .menu-selection {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    text-align: center;
    border-bottom: 1px solid rgb(66, 64, 60);
    width: min-content;
    padding-top: 30px;
} */

/* .menu-selection-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
} */

/* .menu-selection h3 {
    font-weight: 600;
    font-size: 18px;
    margin-top: 40px;
}

.menu-selection p {
    font-size: 15px;
    font-weight: 400;
    line-height: 28px;
    margin: auto 15px 30px 15px;
} */

/* three tabs */

/* .tabs {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 70px;
    text-align: center;
    padding-bottom: 80px;
} */



/* .tabs img {
    box-shadow: 0px 40px 40px -10px rgb(161, 158, 158);
    margin-bottom: 25px;
} */

/* .tab-button {
    border: none;
    background-color: transparent;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 2px;
    margin: 8px;
    opacity: 50%;
    display: inline-block;
} */

/* .tab-button::after {
   content: "";
   display: block;
   width: 0;
   border-bottom: 1px solid var(--clr-line-brown);
   margin: 0 auto;
   transition:all 0.3s linear 0s;
   margin-top: 5px;
} */

/* .tab-button:hover {
    opacity: 100%;
    font-weight: 600;
    transition-timing-function: ease;
    transition: 1s;
} */

/* .tab-button:hover::after {
   width: 60%;
} */

/* .tabs .logo {
    font-size: 32px;
    margin: 15px;
} */

/* .tab {
    display: flex;
    flex-direction: column;
    align-items: center;
} */

/* .tab p {
    margin-inline: 20px;
    font-size: 15px;
    line-height: 25px;
} */

/* .tabs .btn {
    background-color: var(--clr-bg-dark);
    margin: 25px;
} */

/* .tabs .btn:hover {
    background-color: transparent;
    border: var(--clr-bg-dark) solid 1px;
} */

/* booking */

.booking {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-image: url(./images/homepage/ready-bg-mobile.jpg);
    padding-bottom: 80px;
}

.booking .logo {
    margin: 70px 25px 20px 30px;
    color: white;
    font-size: 32px;
    line-height: 40px;
    font-weight: 600;
}

/* footer */

footer {
    background-color: var(--clr-bg-dark);
    color: white;
    text-align: center;
    padding: 60px 0px 60px 0;
    width: 100%;
}

footer h2 {
    margin-bottom: 20px;
}

footer p {
    font-weight: 300;
    text-transform: uppercase;
    font-size: 14px;
    margin: 8px;
    letter-spacing: 2px;
}

footer div:last-child {
    margin-top: 30px; 
}

/* ***** booking page ***** */

/* booking header */

.booking-header {
    background-image: url(./images/booking/hero-bg-mobile.jpg);
    background-size: cover;
    height: auto;
    position: relative;
    z-index: 1;
}
.booking-header .h1-heading {
    position: static;
    height: auto;
    margin-bottom: 15px;
}

.booking-header a {
    text-decoration: none;
    color: inherit;
}

.booking-header .logo {
    margin: 70px auto 50px auto;
}


.booking-header h1 {
    margin-top: 0px;
}

.booking-header .body-text {
    padding: 0 20px;
    position: static;
    margin-bottom: 30px;
}

.booking-header .btn {
    margin-bottom: 150px;
}

.btn-active {
    background-color: white;
    color: var(--clr-bg-dark);
}

.form-section {
    background-color: white;
    justify-content: center;
    
}

.form-section form {
    position: relative;
    z-index: 2;
    bottom: 75px;
    background-color: white;
    width: 85vw;
    padding: 25px;
    box-shadow: 0px 40px 40px -20px rgb(161, 158, 158);
}

form .btn {
    background-color: black;
    padding: 20px 20px;
    width: 100%;
    margin-top: 8px;
}

form .btn:hover {
    border-color: var(--clr-bg-dark);
}

form .btn:focus {
    background-color:var(--clr-bg-dark);
    color: white;
    box-shadow: none;
    border-color: var(--clr-bg-dark);
}

form .btn:active {
    background-color: inherit;
    color: inherit;
    border-color: none;
    outline: black;
}

.people-selector {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.people-selector img {
    height: min-content;
    cursor: pointer;
    padding: 5px 10px;
}

#person-input {
    font-weight: bold;
}

form .form-control {
    border: transparent;
    border-bottom: 1px solid #ced4da;
    border-radius: 0;
    padding: 15px;
}

form .input-group {
    gap: 5px;
    align-items: center;
}

form .form-control:last-child {
    padding: 15px 20px;
    margin-top: 10px;
}

form .row {
    --bs-gutter-x: 0;
}

.row .form-control {
    padding-top: 10px;
}

.input-group label {
    margin-right: 50px;
}


.reservations .form-section .lines {
    display: none;
}

/* booking - tablet */

@media only screen and (min-width: 480px) {
    .booking-header {
        background-image: url(./images/booking/hero-bg-tablet@2x.jpg);
    }

    .booking-header a {
        align-self: flex-start;
    }

    .booking-header .logo {
        margin: 70px;
        font-size: 40px;
    }

    .booking-header .body-text {
        width: 80%;
    }

    .form-section form {
        width: 75%;
        padding: 40px;
 }

    form .input-group {
        gap: 15px;
}

    .row .form-control {
    padding-top: 15px;
}

    #validationCustom01 {
    padding-top: 0;
}

    footer {
        display: flex;
        padding: 70px 35px;
        align-items: flex-start;
        justify-content: center;
        text-align: justify;
    }

    footer .logo {
        position: absolute;
        left: 50px;
    }
    
    footer div:last-child {
        margin-top: 0;
    }

    footer .last-child {
        margin-top: 30px !important;
    }
}

/* booking - desktop */

@media only screen and (min-width: 1025px) {
    .booking-header {
        background-image: url(./images/booking/hero-bg-desktop@2x.jpg);
        align-items: flex-start;
        padding: 80px;
        padding-top: 30px;
    }

    .booking-header .logo {
        margin: 0;
        margin-top: 30px;
        margin-bottom: 100px;
    }
    
    .booking-header .btn {
        display: none;
    }
    .booking-header .body-text {
        width: 45%;
        text-align: justify;
        padding: 0;
        font-weight: 300;
    }

    .form-section {
        height: 40vh;
    }
    
    .form-section form {
        width: 40%;
        left: 200px;
        bottom: 200px;
    }
    .reservations .form-section {
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url(./images/patterns/pattern-curve-bottom-right.svg);
        background-repeat: no-repeat;
    }

    .reservations .form-section .lines {
        display: block;
        height: min-content;
        position: relative;
        left: 250px;
        top: 55px;
    }

    .footer-container {
        display: flex;
        align-items: flex-start;
        gap: 150px;
    }

    footer .last-child {
        margin-top: 0 !important;
    }
}
